.pokemon__items{
  margin: 2rem;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 1.5rem;
}

.pokemon__item{
  box-shadow: 0 4px 8px 0 var(--shadow);
  transition: 0.3s;
  border-radius: 1rem;
  cursor: pointer;
}

.pokemon__item:hover {
  box-shadow: 0 8px 16px 0 var(--shadow-highligthed);
}

.pokemon__item-img{
  width: 100%;
  background: var(--light-gray);
  border-top-left-radius: 1rem;
  image-rendering: pixelated;
  border-top-right-radius: 1rem;
}

.pokemon__item-name{
  text-align: center;
  color: var(--light-black);
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: none;
  margin: 1rem;
}

.comparison-pokemon{
  position: fixed;
  background: var(--white);
  border-style: solid;
  border-width: 1px;
  border-color: var(--light-black);
  border-radius: 1rem;
  top: 7%;
  right: 1rem;
}

.comparison-name{
  font-weight: 500;
  font-size: 1rem;
  padding: 1rem 2rem;
}

@media (max-width: 500px){
  .pokemon__items{
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}